/* Footer */
.footer {
	position: relative;
	/* height: 80px; */
	padding: 3rem 0 2.6rem;
	margin-top: -80px;
	font-size: 1.6rem;
	background-color: #4f4f4f;
}
.footer-adress-title {
	display: inline-block;
	color: #949494;
}
.footer-adress__info {
	display: inline-block;
	color: #6e6e6e;
}
.copyright {
	color: #6e6e6e;
	text-align: right;
}

/* Footer end */