/**
 * modules/variables
 * ---
 */

/**
 * Typography
 */
$font-family-base: 'proxima_nova_rgregular';
$font-title: 'gothambold';
$font-italic: 'georgiaitalic';

$font-size-base: 100%;
$line-height-base: 1.5;

/**
 * Colors
 */
$text-color: #5a5a5a;
$title-color: #303030;
$placeholder-color: #5f5f5f;
$body-bg: #fff;
$selection-bg: ;
$link-color:  ;
$link-hover-color: ;

/**
 * Size
 */
$base-height: 100%;