block link
	-var selected = 'Home';

extends ../layouts/main_layout.jade

block title
	title Cleanwhite

block content
	include ../common/section-hero.jade
	include ../common/section-work.jade
	include ../common/section-team.jade
	include ../common/section-contact.jade