section.section.section-hero
	.container
		.row
			.col-xs-12
				.hero__title
					h2.hero__title-line let us make
					h2.hero__title-line your lives easier
				p.hero__subtitle We specialize in crafting awesome ideas for web, mobile and beyond.
				.path-next
					a.scroll