section.section.section-team#team
	.container
		.row
			.col-lg-12
				h3.team__title Team
				p.team__desc We are a hard working group, who's aim is to listen to your problems and to come up with the best solution possible. We follow the lates trends on the web to create custom talierd niche websites.
		.row
			ul.team__list
				.col-sm-3
					li.team__item
						.team__img-wrap
							img(src="/img/developer.jpg", alt="developer").team__img.team__img-developer
						.name Name Surname
						.post Lead Developer
						ul.soc-profile__list
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-tw
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-linked-in
				.col-sm-3
					li.team__item
						.team__img-wrap
							img(src="/img/designer.jpg", alt="designer").team__img.team__img-designer
						.name Name Surname
						.post Lead Designer
						ul.soc-profile__list
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-tw
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-dribbel
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-linked-in
				.col-sm-3
					li.team__item
						.team__img-wrap
							img(src="/img/director.jpg", alt="director").team__img.team__img-director
						.name Name Surname
						.post Marketing Director
						ul.soc-profile__list
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-skype
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-linked-in
				.col-sm-3
					li.team__item
						.team__img-wrap
							img(src="/img/business-director.jpg", alt="business-director").team__img.team__img-bdirector
						.name Name Surname
						.post Business Director
						ul.soc-profile__list
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-skype
							li.soc-profile__item
								a.soc-profile__link.sprite.sprite-ico-linked-in